:root{
  --bg:#0d0c22,
  --bgSoft:#2d2b422;
  --text:white,
  --textSoft:#e5e5e5;
  --btn:#3673fd
}
*{
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
body {
  background-color:#0d0c22 ;
  color:white;
}
a {
  text-decoration: none;
  color: inherit;
}
.container{
  padding-inline: 200px;
}
.links a{
  border-radius: 25px;
  color: white;
  padding: 10px;
}
.links a:hover{
background-color: #ffffff;
color: black;
border-radius: 20px;
}

.homepage-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.homepage-wrapper img{
width: fit-content;
height: 400px;
}
.homepage-wrapper .content{
  width: 30%;
  /* padding-inline: 10%; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;

}